.allFilters {
  display: flex;
  flex-direction: column;
  gap: 1px;
  background-color: #d4d4d4;
}

.allFilters > div {
  background-color: white;
  padding: 10px;
}

.header {
  font-weight: bold;
}
