.parent-cart {
  display: flex;
  gap: 5rem;
  justify-content: center;
}
/* .parent-child{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #c7c7c7;
    padding: 10px;
    margin: 0;
    font-size: 12px;
} */
.main1 {
  margin-left: 20px;
}
.top img {
  width: 124px;
  height: 35px;
}
.top input {
  width: 40%;
  border: none;
}

.box_text {
  width: 50%;
}

.box_text h3 {
  margin-top: 20px;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 4px;
  color: #212121;
}
.top {
  display: flex;
  justify-content: space-between;
  height: 153px;
  width: 40vw;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: 40px;
  padding: 15px;
  border-bottom: 1px solid #c7c7c7;
  box-shadow: 0px 0px 5px #757575;
  background-color: white;
}

h5 {
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 35px;
  color: #3a0f0f;
  font-family: Arial, Helvetica, sans-serif;
}
h4 {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-bottom: 4px;
  color: #212121;
}
.box_text p {
  margin: 12px 4px 0 0;
  font-size: 10px;
  margin-top: 10px;
  color: #9e9e9e;
  font-family: Arial, Helvetica, sans-serif;
}
.inc {
  margin-top: 35px;
  margin-right: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.price_box {
  margin-top: 20px;
}

/*************************************/

.top-left {
  width: 367px;
  height: 168px;
  margin: 16px 0px 0px;
  margin-top: 25px;
  padding: 12px 16px 16px;
  box-shadow: 0px 0px 4px #757575;
  background-color: white;
}
.icon-img {
  width: 90px;
  height: 22px;
  margin: 0px 2.5px 0px 0px;
}
.top-left b {
  color: #208376;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.top-left h4 {
  color: #5b5353;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.top-left h5 {
  color: #5b5353;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.btnPrice {
  display: flex;
  justify-content: space-between;
}
.btnPrice button {
  width: 154px;
  height: 34px;
  background-color: #ff6f61;
  color: #ffffff;
  margin: 5px 0px 0px 7px;
  padding: 6px 20px;
  border: none;
  border-radius: 5px;
}
.coupan-main {
  /* justify-content: space-between; */

  width: 367px;
  height: 79px;
  margin: 16px 0px 0px;
  padding: 12px 16px 16px;
  box-shadow: 0px 0px 4px #757575;
  background-color: white;
}
.coupan {
  display: flex;
  align-items: center;
}
.coupan img {
  width: 24px;
  height: 24px;
  margin: 0px 8px 0px 0px;
}
.coupan h3 {
  font-size: 14px;
  color: #2b2b2b;
  font-family: Arial, Helvetica, sans-serif;
}

.health {
  width: 368px;
  height: 181px;
  box-shadow: 0px 0px 5px #757575;
  margin: 16px 0px 0px;
  background-color: white;
}
.health h3 {
  font-size: 16px;

  color: #212121;
  font-family: Clear Sans Medium, sans-serif;
  letter-spacing: 0;
  line-height: 24px;
  background-color: #fffcf8;
  padding: 8px 12px;
}
.health h4 {
  font-size: 14px;
  color: #212121de;
  padding: 8px 12px 0;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 500;
  margin: 0px 0px 0px 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.health p {
  color: #616161;
  line-height: 20px;
  text-align: left;
  font-family: Clear Sans, sans-serif;
  margin-top: 4px;
  margin-bottom: 4px;
  max-width: 79%;
  font-size: 12px;
  padding: 0 12px 8px;
  margin-left: 30px;
}
.health h6 {
  height: 18px;
  color: #1aab2a;
  font-family: Clear Sans Medium, sans-serif;
  font-size: 12px;
  padding: 0 12px 8px;
  margin-left: 30px;
  letter-spacing: 0;
  line-height: 24px;
}

.Payment {
  width: 368px;
  height: 210px;
  box-shadow: 0px 0px 5px #757575;
  margin: 16px 0px 0px;
  padding: 8px 12px 0;
  background-color: white;
}
.payment-box {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px;
  padding: 8px 0 0;
}
.payment-box h2 {
  color: #757575;
  font-size: 12px;

  padding: 0 0 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.payment-box h3 {
  color: #767676;
  font-size: 14px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;

  padding: 0 0 5px;
}
.payment-box h4 {
  padding: 8px 0;
  color: #767676;
  font-size: 14px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.bottom {
  width: 368px;
  height: 50px;
  display: block;
  margin-top: 16px;
  background-color: #fff;
  padding: 8px 16px 12px;
  box-sizing: border-box;
}
.bottom div {
  display: flex;
  justify-content: space-between;
}
.bottom h1 {
  font-size: 14px;
  color: #757575;
  padding: 5px;
  line-height: 16px;
  margin-bottom: 10px;
}
.bottom button {
  height: 34px;
  background-color: #ff6f61;
  color: #ffffff;
  margin: 5px 0px 0px 7px;
  padding: 6px 20px;
  border: none;
  cursor: pointer;
}
.coupan-input {
  display: flex;
  margin-top: 5px;
  justify-content: space-around;
}
.coupan-input input {
  width: 234px;
  height: 30px;
  color: #757575;
  border: none;
  text-align: center;
  border: 1px solid silver;
  border-radius: 7px;
  outline: none;
}
.coupan-input button {
  cursor: pointer;
  background-color: #ff6f61;
}
.coupan-input button:disabled {
  cursor: not-allowed;
  background-color: #b85d54;
}
