.filterSearch {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  font-weight: bold;
}

.search {
  padding: 0 5px;
  font-size: small;
}

.search > input {
  font: inherit;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid silver;
  border-radius: 5px;
}

.list {
  padding: 0 5px;
}
