.footer_parent {
  background-color: #fffcf8;
}
.footer_container {
  /* width: 90%; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: auto;
  /* border: 1px solid crimson; */
  background-color: #fffcf8;
  padding: 20px;
  padding-left: 50px;
  border-top: 1px solid gray;
}
.footer_child img {
  width: 25px;
  height: 25px;
  border-radius: 5px;
}
.footer_child h3 {
  font-size: 16px;
  font-weight: lighter;
}
.footer_child p {
  font-size: 12px;
  line-height: 2;
}
.footer_child ul {
  margin-top: 10px;
  padding: 0;
}
.social_icons {
  display: flex;
  gap: 10px;
}
.signup_btn {
  width: 97px;
  height: 40px;
  border-radius: 4px;
  background-color: #ff6f61;
  font-weight: 700;
  border: none;
  vertical-align: middle;
  color: #fff;
}
.download_icon img {
  width: 120px;
  height: 50px;
  /* border: 1px solid red; */
}
.container * {
  font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
  /* background-color: #fffcf8; */
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 70px;
  /* border: 1px solid crimson; */
}
.reliable_container {
  width: 80%;
  display: flex;
  border: 1px solid black;
  border-radius: 20px;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.reliable_container img {
  width: 100px;
  height: 100px;
}
.reliable_wrapper > h5 {
  font-size: 26px;
  /* font-family: "Clear Sans","Helvetica Neue",Helvetica,Arial,sans-serif; */
}
.reliable_wrapper > p {
  font-size: 12px;
  color: #767676;
}

.footerend {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.footerend_container {
  margin-top: 10px;
}
.footerend img {
  width: 50px;
  height: 45px;
}
.footerend_container > h3 {
  display: flex;
  justify-content: center;
  font-size: 14px;
}
@media (max-width: 1250px) {
  .footer_container {
    display: flex;
    flex-wrap: wrap;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1000px) {
  .footer_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: column;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 750px) {
  .footer_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    /* flex-wrap: wrap; */
  }
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 500px) {
  .social_icons {
    flex-direction: column;
  }
  .reliable_container {
    flex-direction: column;
    text-align: center;
  }
}
