.main {
  background-color: rgba(0, 11, 0, 0.544);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.popup {
  height: 500px;
  width: 45%;
  background-color: #fff;
  position: absolute;
  top: 15%;
  right: 30%;
  border-radius: 8px;
  z-index: 4;
}
.popup-header {
  padding: 10px 13px;
  text-align: right;
}
.main-box {
  display: flex;
}
.pop-box1 {
  width: 50%;
  height: 100%;
  padding: 10px;
  text-align: center;
}
.pop-box1 > img {
  margin: 50px;
  width: auto;
  display: inline;
}
.pop-box1 > h3 {
  font-size: 20px;
  color: #4a4a4a;
  margin: 15px;
}
.pop-box1 > p {
  font-size: 15px;
  font-weight: 500;
  color: #4a4a4a;
  margin: 15px;
}
.box2 {
  height: 100%;
  width: 50%;
  text-align: left !important;
  padding: 20px 50px;
  color: #4a4a4a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login_container input {
  color: #ff6f61;
}
.btn20 {
  width: 100%;
  background-color: #ff6f61;
  color: #fff;
  border-radius: 10px;
  margin: 15px 10px;
  padding: 13px 15px;
  border: none;
  font-size: 15px;
  font-weight: bold;
}
.small-txt {
  font-size: 13px;
}
.bottom {
  text-align: center;
}
.bottom > p {
  margin: 2px;
}
.click {
  color: #ff6f61;
}
.otp {
  font-size: 13px;
  margin: 10px 0px;
}
.login-signup-container {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  color: #212121;
}
