.product {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  box-shadow: 1px 1px 5px 0 silver;
}

.image {
  height: 200px;
  padding: 1.5rem;
  cursor: pointer;
}

.image > .img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.title {
  font-size: 0.9rem;
  cursor: pointer;
}

.desc {
  font-size: 0.7rem;
  color: rgb(134, 134, 134);
}

.discount {
  display: flex;
  gap: 5px;
  font-size: 0.7rem;
  color: rgb(134, 134, 134);
}

.discount > span {
  text-decoration: line-through;
}

.discount > p:last-child {
  color: #1aab2a;
}

.mrp {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.mrp span {
  font-size: 0.8rem;
  color: rgb(134, 134, 134);
}

.mrp > button {
  background-color: white;
  color: tomato;
  font-weight: bolder;
  outline: none;
  border: none;
  cursor: pointer;
}
.parent {
  display: "flex";
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  /* border: dashed red; */
  margin: auto;
  background-color: #fff;
}
.product_info {
  width: 60%;
  display: flex;
  /* border: dashed rgb(17, 207, 74); */
  gap:20px;
}
.product_image{
  /* border: 1px solid black; */
  padding: 40px;
}
.product_image>img{
  height: 300px;
 
}
.product_detail{
  width: 60%;
}
.review_box{
  display: flex;
  align-items: center;
}
.review{
    
    color: #ff6f61;
    font-size: 14px;
    /* vertical-align: middle; */
    cursor: pointer;
}
.qty_price_box{
  display: flex;
  gap:30px;
  margin-top:20px
}
.tab_qty {
  border: 1px solid black;
  padding: 0px 10px;
  color: #913d36;
  font-size: 12px;
  border-radius: 4px;
  font-weight: bold;
  /* margin: auto; */
  cursor: pointer; 
}
.tab_qty:hover{
  background-color:  #fff3e3;
  border: 1px solid #913d36;
}
.product_highlight{
  margin-top: 10px;
}
.product_highlight *{
  font-size: 12px;
}
.price_info {
  margin-top: 10px;
  width: 33%;
  /* border: 1px solid pink; */
}

.cart_box{
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  box-shadow: 0 2px 4px #ddd;
  border-radius: 10px;
  /* padding: 10px; */
}
.buy_rate_info{
  background-color: #97d99d;
  display: flex;
  gap: 10px;
  border-radius: 10px 10px 0 0;
  align-items: center;
}
.buy_rate_info img{
  width: 20px;
  height: 20px;
}
.price_val{
  margin-top: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.discount_val{
    background-color: #edf9ee;
    color: #1aab2a;
    padding-left: 4px;
    padding-right: 4px;
}
.packets_box{
  margin-top: 20px;
}
.packets_box>select{
  width: 100px;
  border-radius: 5px;
}
.cart_button {
  background-color: #ff6f61;
  color: white;
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.style_box {
    padding: 16px 0;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px #ddd;
    margin-top: 30px;
}
.style_headerText {
    font-weight: 700;
    font-size: 18px;
    padding-left: 15px;
}
.style_deliveryBox {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    margin-top: 20px;
    padding-left: 15px;
}
.style_deliveryHeader{
    color: #767676;
}
.style_delivery_cta{
    cursor: pointer;
    display: flex;
    align-items: center;
}
.style_deliveryText {
    color: #3b3b3b;
    font-weight: 700;
   

}
.style_margin {
    margin-left: 4px;
}
.AdditionalOffers__offer_container {
    margin-top: 25px;
    border: 1px dashed #979797;
    border-radius: 10px;
    padding-top: 24px;
    position: relative;
}
.AdditionalOffers__offer_heading {
    font-size: 12px;
    text-align: center;
    color: #fff;
    background-color: #1aab2a;
    position: absolute;
    padding: 2px 10px 3px 8px;
    top: 3px;
    left: -3px;
    margin: 0;
}
.styles__otc-banner img {
    width: 100%;
    cursor: pointer;
}
.AdditionalOffers__offer_content{
    display: flex;
    align-items: center;
}
.AdditionalOffers__offer_icon {
    width: 18px;
    margin: 0 0 0 16px;
}
.AdditionalOffers__offer_image{
  
        max-width: 100%;
        vertical-align: middle;
        border: 0;

}
.AdditionalOffers__offer_detail {
    padding: 8px 14px;
    font-size: 12px;
    color: #212121;
    width: 100%;
}
.AdditionalOffers__show_buttons {
    text-align: right;
    padding: 0 14px 8px 0;
    font-size: 14px;
    font-weight: 700;
    color: #ff6f61;
    cursor: pointer;
}
.youtubebox{
    /* border:1px solid black; */
    width: 800px;
    height:500px;
    margin: 50px;
    margin-left: 100px; 
    padding: 10px;  
    background-color: #fff;
}
.product_description{
    padding: 20px;
    background-color: #fff;
}

.description_heading{
    font-weight: 400;
    font-size:11.5px;
    /* font-size: 1.15rem; */
    font-family: "Clear Sans","Helvetica Neue",Helvetica,Arial,sans-serif; 
}
.description_content {
    font-size: 14px;
    margin-top: 16px;
    text-align: justify;
    font-family: "Clear Sans","Helvetica Neue",Helvetica,Arial,sans-serif; 
}
.Product_detail_info{
    margin: 20px;
    margin-left: 100px;
}
.LabTests_container {
    background-color: #fff;
    width: 100%;
    height: 220px;
    margin-top: 50px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    /* background-color: #fff; */
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
}
.LabTests_image {
    width: 103px;
    height: 103px;
    /* border: 1px solid yellowgreen; */
}
.LabTests_content{
   margin-top: 20px;
   
}
.LabTests_btn{
    color: #ff6f61;
    background-color: #fff;
    border: 1px solid #ff6f61;
    line-height: 1rem;
    padding: 10px;
    border-radius: 5px;
    font-size: 10px;
}
.ConsultDoctor_container {
    background-color: #fff;
    width: 100%;
    height: 220px;
    margin-top: 50px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
}
.ConsultDoctor_image {
    width: 103px;
    height: 103px;
}
.ConsultDoctor_btn{
    color: #ff6f61;
    background-color: #fff;
    border: 1px solid #ff6f61;
    line-height: 1rem;
    padding: 10px;
    border-radius: 5px;
    font-size: 10px;
}
.OtcIcons_container {
    background-color: #fff;
    padding: 30px 20px;
    margin: 20px 0;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
}
.icon-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.icon_list_item {
    display: inline-block;
    max-width: 56px;
    font-size: 12px;
    margin: 0 5px;
}
.lastupdate{
  margin-top: 10px;
}
.lastupdate>p{
 font-size: 12px;
}
.content_box{
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
  padding: 10px;
}
.content_info{
  margin-top: 8px;
  display: flex;
  gap: 20px;
  /* align-items: center; */
}
.content_detail{
  font-size: 12px;
}
.content_report{
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  /* align-items: center; */
}
@media (max-width:1250px){
  .parent{
    display: flex;
    flex-wrap: wrap;
  }
  .parent *{
    display: flex;
    flex-wrap: wrap;
  }
  
}
@media (max-width:1000px){
  .parent{
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .parent *{
    display: flex;
    flex-wrap: wrap;
  }
  .additionl_info_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(1,1fr); */
  }
  .additionl_info_container *{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(1,1fr); */
  }
  
  
}
@media (max-width:750px){
  .parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(1,1fr); */
    
  }
  .parent *{
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(1,1fr); */
  }
  .additionl_info_container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(1,1fr); */
  }
  .additionl_info_container *{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(1,1fr); */
  }
  .youtubebox{
    width: 50%;
  }
  .product_description{
    display: flex;
    flex-wrap: wrap;
  }
  
  
}