body {
  background-color: #f6f6f6;
}

.product {
  max-width: 1310px;
  margin: 1rem auto;
  display: flex;
  gap: 1rem;
}

.filterWrapper {
  width: 15%;
}

.productWrapper {
  width: 85%;
}

@media (max-width: 1000px) {
  .filterWrapper {
    width: 20%;
  }

  .productWrapper {
    width: 80%;
  }
}

@media (max-width: 800px) {
  .product {
    flex-direction: column;
  }
  .filterWrapper {
    width: 100%;
  }

  .productWrapper {
    width: 100%;
  }
}
